[Unit]
Description = Catalogue Service

[Service]
User=roboshop
Environment=MONGO=true
Environment={{ lookup('community.hashi_vault.hashi_vault', 'secret=roboshop-{{ env }}/data/catalogue:MONGO_URL token={{ token }} url=http://vault-int.nareshdevops1218.online:8200') }};
ExecStart=/bin/node /app/server.js
SyslogIdentifier=catalogue

[Install]
WantedBy=multi-user.target