[Unit]
Description=Shipping Service

[Service]
User=roboshop
Environment={{ lookup('community.hashi_vault.hashi_vault', 'secret=roboshop-{{ env }}/data/shipping:CART_ENDPOINT token={{ token }} url=http://vault-int.nareshdevops1218.online:8200') }};
Environment={{ lookup('community.hashi_vault.hashi_vault', 'secret=roboshop-{{ env }}/data/shipping:DB_HOST token={{ token }} url=http://vault-int.nareshdevops1218.online:8200') }};
ExecStart=/bin/java -jar /app/shipping.jar
SyslogIdentifier=shipping

[Install]
WantedBy=multi-user.target
